@charset "UTF-8";

:root {
	--text-color: white;
	--back-color: black;
}

/* Font and Background */
body {
	color: var(--text-color);
	background-color: var(--back-color);
}

a:link, a:hover {
	color: deepskyblue;
}

a:visited {
	color : plum;
}

a:active {
	color: tomato;
}


/* Tables */
table, th, td {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: solid 1px var(--text-color);
}

table {
	display: inline-block;
}

th, td {
	padding: 5px;
}

/* Fieldsets */
fieldset {
	border: solid 1px var(--text-color);
}

/* Classes */
.align-left {
	text-align: left;
}
